.pagination>li>a {
    background-color: white;
    color: #5A4181;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(132, 0, 255, 0.25);
}

.pagination>.active>a {
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination>.active>a:hover {
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.card {
    height: 100%;
}

.cardHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoImg {
    margin: 0.5rem;
    width: 10%;
}